---
icon: {{ config.page_icon }} 
template: pi_app.html.j2
title: Monitor
config: {{ config.model_dump(mode="json") | tojson }} 
{% if config.image %}
image_path: {{ image_path | tojson }}
image_name: {{ config.image.path.name | tojson }}
{% endif %}
hide:
  - toc
---


