/* TODO part these out for easy switching from config args */

/* hide top right logo button */
.md-header__button.md-logo {
  display: none !important;
}

.md-nav__button.md-logo {
  display: none !important;
}

.md-nav__title {
  margin: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.md-nav.md-nav--primary {
  margin: 0 !important;
  margin-top: 0 !important;
}


