You made it off the waitlist: a **{{ entry.space_type | upper }}** space is now available for
you.

- You have **{{ config.waitlist_interval_minutes }}** minutes to take the space
before the next person in line is notified. 

- Note that **there are no guarantees**. You are in competition with people 
before you on the waitlist who were already notified, people not on the waitlist who 
happened to check the site, AND people who are blissfully unaware that the site exists.
Time is of the essence.

- When all spaces become occupied again, you will receive a courtesy email letting you 
know.

{% include 'email/_salutation.md.j2'%}
