You were previously notified that a **{{ entry.space_type | upper }}** space was available.\
All spaces of that type are now occupied. If you were not able to claim one, you can
re-join the [waitlist]({{ config.app_url }}/app) to be notified when they become available again.

{% include 'email/_salutation.md.j2'%}