You made it off the waitlist: a **{{ entry.space_type | upper }}** space is now available for
you.

- You have **{{ config.waitlist_interval_minutes }}** minutes to take the space
before the next person in line is notified. 

- Note that **there are no guarantees** here: you are in competition with both people 
before you in line who were already notified AND people who are blissfully unaware 
that this system exists. Time is of the essence.

- When all spaces become occupied again, you will receive a courtesy email letting you 
know.

{% include 'email/_salutation.md.j2'%}
